<!-- <button mat-button color="primary">Button 1</button>
<button mat-button color="accent">Button 2</button>
<button mat-button color="warn">Button 3</button>
<button mat-button>Button 4</button>
<button mat-button>Button 5 </button> -->

<div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button color="primary" fxFlex="50%">AREA</button>
    <button mat-button color="accent" fxFlex="50%">LOCATION</button>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button color="primary" fxFlex="50%">ORDER</button>
    <button mat-button color="accent" fxFlex="50%">TRUCK</button>
 </div>
<div fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button [disabled]="!isAdmin" fxFlex="100%">USER</button>
</div>