
  
  .location-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
    max-height: 80vh; /* Limit the height to 5rem in viewport height */
    overflow-y: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .example-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s;
  }
  
  .example-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .next-button p {
    font-size: 1.5em; 
    width: 4rem;
    justify-content: center;
    align-content: center;
    display: flex;
    padding-top: 0.5rem;
  }
.next-button {
    position: absolute;
    width: 100vw; /* The button will take up 80% of the viewport width */
    height: 5rem;
    font-size: 2vw; /* Font size based on viewport width */
    bottom: 20px; /* Adjust the bottom position to lift the button above the bottom of the screen */
    z-index: 1; /* Ensure the button is above other content */
  }
