<div *ngIf="isLoggedIn">
  <nav class="navbar">
    <a mat-button routerLink="/homepage" fxFlex="25%" routerLinkActive="active"
      >HOMEPAGE</a
    >
    <a mat-button (click)="goBack()" fxFlex="25%" routerLinkActive="active"
      >GO BACK</a
    >
    <a
      mat-button
      routerLink="/displayorder"
      fxFlex="25%"
      routerLinkActive="active"
      >ORDER</a
    >
    <a 
    mat-button
    *ngIf="yourTruckId != null"
    routerLink="/trucklist"
    fxFlex="25%"
    routerLinkActive="active"
    class = "assigned-to-truck"
    ><div>TRUCK:</div><div class="truck-p">{{yourTruckId}}</div></a
  >
  <a 
  mat-button
  *ngIf="yourTruckId == null"
  routerLink="/trucklist"
  fxFlex="25%"
  routerLinkActive="active"
  >ASSIGN TRUCK</a
>
    <button
      mat-button
      (click)="logout()"
      fxFlex="25%"
      routerLinkActive="active"
    >
      LOG OUT
    </button>
  </nav>
</div>
