mat-button {
  width: 3rem; /* Adjust the width as needed */
  text-align: center; /* Center the text within the button */
  padding: 4rem; /* Add padding for better visibility and clickability */
  border-radius: 10px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(144, 238, 144, 0.52); /* Adjust as needed */
  padding: 1.5rem;
  border-radius: .7rem;
  font-weight: bold; 
}

.mat-button:hover {
  background-color: #5c6bc0; /* Adjust as needed */
}

.mat-button:active {
  background-color: #3949ab; /* Adjust as needed */
}
