<div *ngIf="isLoggedIn">
  <nav class="navbar">
    <a mat-button routerLink="/homepage" fxFlex="25%" routerLinkActive="active"
      >HOMEPAGE</a
    >
    <a mat-button (click)="goBack()" fxFlex="25%" routerLinkActive="active"
      >GO BACK</a
    >
    <a
      mat-button
      routerLink="/displayorder"
      fxFlex="25%"
      routerLinkActive="active"
      >ORDER</a
    >
    <button
      mat-button
      (click)="logout()"
      fxFlex="25%"
      routerLinkActive="active"
    >
      LOG OUT
    </button>
  </nav>
</div>
