\node_modules

# Environment data
server/env/

# Object files
server/obj/

# Binary files
server/bin/

# Migration files
server/Migrations/
/server/Migrations/
\Migrations

server\appsettings.json

\server\appsettings.Development.json

server/appsettings.Development.json
./server/appsettings.Development.json

appsettings.json

appsettings.Development.json

/server/Migrations/LogisticsDBContextModelSnapshot.cs

# MAC bloat file
.DS_Store
server/Migrations/LogisticsDBContextModelSnapshot.cs
