<div fxLayout="row" fxLayoutAlign="space-between center">
  <mat-form-field appearance="fill">
    <mat-label>Areas</mat-label>
    <mat-select [(value)]="selectedAreaId" (selectionChange)="selectedAreaId = $event.value">
      <mat-option *ngFor="let area of areas" [value]="area.areaId">
        {{ area.areaId }} - {{ area.name  }} 
      </mat-option>
    </mat-select>
  </mat-form-field>
  </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-button routerLink="/createarea" color="primary" fxFlex="100%" routerLinkActive="active">Create or Update Area</button>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
        <button mat-button (click)="deleteArea()" color="primary" fxFlex="50%">Delete Area</button>
        <button mat-button (click)="viewArea()" color="primary" fxFlex="50%" routerLinkActive="active">View Area</button>
      </div>

      
