button {
    font-size: 24px;
    margin: 10px;
    padding: 8rem;
    background: linear-gradient(0deg, rgba(34,195,57,0.3799894957983193) 0%, rgba(68,253,45,0.2007177871148459) 100%);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
mat-form-field {
    margin: 10px;
    padding: 1.5rem;
    background-color: rgba(121, 200, 226, 0.5);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }
