<!-- <p>order-dashboard-list works!</p>
<mat-card class="location-card">
      <mat-card-header>
        <mat-card-title>Admin Location Page</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Locations</mat-label>
          <mat-select >
            <mat-option >
              
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="buttons-container">
          <button mat-raised-button color="primary" >View</button>
          <button mat-raised-button color="warn" >Delete</button>
          <button mat-raised-button color="accent" >Create</button>
          <button mat-raised-button color="basic" >Edit</button>
          <button mat-raised-button color="secondary" >Cancel</button>
        </div>
      </mat-card-content>
    </mat-card> -->