<div fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-button routerLink="/arealist" color="primary" fxFlex="50%" routerLinkActive="active">
    AREA
  </button>
  <button mat-button (click)="location()" color="primary"fxFlex="50%" routerLinkActive="active">
    LOCATION
  </button>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-button routerLink="/displayorder" color="primary"fxFlex="50%" routerLinkActive="active">
    ORDER
  </button>
  <button mat-button routerLink="/trucklist" color="primary"fxFlex="50%" routerLinkActive="active"
    routerLinkActive="active">
    TRUCK
  </button>
</div>
<div class="user-button" fxLayout="row" fxLayoutAlign="space-between center" *ngIf="authService.isAdmin()">
  <button mat-button routerLink="/userdetail" color="primary"fxFlex="100%" routerLinkActive="active">
    USER
  </button>
</div>