
html {
  font-size: 2vw; 
}
.location-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 10px;
  padding-top: 20px;
}

.location-info {
  display: grid;
  grid-template-columns: 1fr 3fr; /* Two columns with equal width */
  grid-gap: 10px;
  height: 7em;
}
.location-id {
  font-size: 50px;
}

.button-container {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100px; 
}

.fixed-bottom-button2 {
  position: absolute;
  width: 100vw; /* The button will take up 80% of the viewport width */
  /* padding: 2vh 1vw; Padding based on viewport size */
  height: 5rem;
  font-size: 2vw; /* Font size based on viewport width */
  bottom: 20px; /* Adjust the bottom position to lift the button above the bottom of the screen */
  z-index: 1; /* Ensure the button is above other content */
  background-color: rgba(76, 76, 76, 0.314);
}

.next-button {
  filter: saturate(70%);
  position: fixed;
  top: 4rem;
  right: 1.5rem;
  background-color: #b6b6b6;
  color: white;
  padding-top: 1.2rem;
  height: 3rem;
  z-index: 1;
  align-items: center;
}

.next-button mat-icon {
  margin-right: 5px; 
  font-size: 1.5em; 
  width: 4rem;
  height: 3rem;
}

.mat-card {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* 添加阴影效果 */
  transition: 0.3s; /* 平滑过渡效果 */
  border-radius: 10px; /* 圆角边框 */
}

.mat-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.493); /* 鼠标悬浮时增强阴影 */
}
