
html {
  font-size: 2vw; 
}
.location-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.button-container {
  display: flex; /* 将容器设置为 Flexbox 容器 */
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  height: 100px; /* 给容器一个高度 */
}

.fixed-bottom-button1 {
  position: fixed;
  width: 80vw; /* The button will take up 80% of the viewport width */
  padding: 2vh 1vw; /* Padding based on viewport size */
  font-size: 2vw; /* Font size based on viewport width */
  bottom: 20px; /* Adjust the bottom position to lift the button above the bottom of the screen */
  z-index: 1000; /* Ensure the button is above other content */
}

.fixed-bottom-button2 {
  position: fixed;
  width: 80vw; /* The button will take up 80% of the viewport width */
  padding: 2vh 1vw; /* Padding based on viewport size */
  font-size: 2vw; /* Font size based on viewport width */
  bottom: 65px; /* Adjust the bottom position to lift the button above the bottom of the screen */
  z-index: 1000; /* Ensure the button is above other content */
  background-color: brown;
}

.next-button {
  position: fixed;
  top: 4rem;
  right: 1.5rem;
  background-color: #b6b6b6;
  color: white;
  padding-top: 1.2rem;
  height: 3rem;
  z-index: 1;
  align-items: center;
}

.next-button mat-icon {
  margin-right: 5px; 
  font-size: 1.5em; 
  width: 4rem;
  height: 3rem;
}
