<div class="location-list">
  <mat-card *ngFor="let location of locations" class="mat-card" [style.background]="location.color">
    <div class="location-info">
    <mat-card-content class="location-id">{{ location.locationId }}</mat-card-content>
    <div>
    <mat-card-content><strong>Area ID:</strong> {{ location.areaId }}</mat-card-content>
    <mat-card-content><strong>Type:</strong> {{ location.locationType }}</mat-card-content>
   </div>
  </div>
  </mat-card>
</div>
<div class="button-container">
  <ng-container *ngIf="authservice.isAdmin()">
    <button mat-raised-button color="primary" class="fixed-bottom-button2" (click)="next()">Next</button>
  </ng-container>
</div>