.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    flex-direction: column;
    position: relative;
  }
  
  .truck-details-card {
    width: 50%;
    max-width: 600px; /* Adjust based on your preference */
    text-align: center;
  }
  
  .return-button {
    position: absolute;
    top: 20px;
    left: 20px;
  }
  
  h2 {
    font-weight: bold;
  }
  