.truck-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding-top: 10px;
  }
.next-button p {
    font-size: 1.5em; 
    width: 4rem;
    justify-content: center;
    align-content: center;
    display: flex;
    padding-top: 0.5rem;
  }
.next-button {
    position: absolute;
    width: 100vw; /* The button will take up 80% of the viewport width */
    /* padding: 2vh 1vw; Padding based on viewport size */
    height: 5rem;
    font-size: 2vw; /* Font size based on viewport width */
    bottom: 20px; /* Adjust the bottom position to lift the button above the bottom of the screen */
    z-index: 1; /* Ensure the button is above other content */
    
  }

  .example-card {
    min-height: 175px;
  }
  
  .has-truck-users{
    background-color: red;
  }
  .has-no-truck-user{
    background-color: green;
  }

  .assigned-to-you {
    background-color: rgb(255, 255, 83);
  }

  .button-container {
    position: absolute;
    bottom: 0; /* Adjust the distance from the bottom as per your preference */
    width: 100%;
    padding: 0 1rem;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    

  }

  .action-button {
    width: 100%;
    margin-bottom: 1rem;
  }

  .assign {
    background-color: rgb(52, 151, 80);
  }
  
  .unassign {
    background-color: rgb(209, 209, 209);
  }

  p {
    color: white;
  }