
<mat-card class="Order-card">
      <mat-card-header>
        <mat-card-title>Admin Order Page</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Orders</mat-label>
          <mat-select [(value)]="selectedOrderId">
            <mat-option *ngFor="let order of orders" [value]="order.orderId">
              {{ order.orderId }} - {{ order.orderStatus }} - {{ order.pieces }} pieces - {{ order.orderType }}
              - {{ order.createdAt | date:'short'}} - {{ order.completedAt | date:'short'}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="buttons-container">
          <button mat-raised-button color="primary" >Complete the Order</button>
          <button mat-raised-button color="warn" >Create Order</button>
          <button mat-raised-button color="accent" >Update Order</button>
          <button mat-raised-button color="warn" >Cancel Order</button>
          <button mat-raised-button color="basic" >Display Order</button>
          <button mat-raised-button color="secondary" >Cancel</button>
        </div>
      </mat-card-content>
    </mat-card>
    