
<mat-card class="Order-card">
      <mat-card-header>
        <mat-card-title>Admin Order Page</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field appearance="fill">
          <mat-label>Orders</mat-label>
          <mat-select [(value)]="selectedOrderId">
            <mat-option *ngFor="let order of orders" [value]="order.orderId">
              {{ order.orderId }} - {{ order.orderStatus }} - {{ order.userID }}  - {{ order.pieces }} pieces - {{ order.deliveredPieces }} deliveredPieces -{{ order.orderType }}
              - {{ order.createdAt | date:'short'}} - {{ order.completedAt | date:'short'}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="buttons-container">
          <button mat-raised-button color="primary" (click) = 'completeTheOrder()'>Complete the Order</button>
          <button mat-raised-button color="warn" (click) = 'createOrder()' *ngIf="authservice.isAdmin()" >Create Order</button>
          <button mat-raised-button color="accent" (click) = 'updateSelectedOrder()' *ngIf="authservice.isAdmin()">Update Order</button>
          <button mat-raised-button color="warn" (click)="cancelSelectedOrder()" *ngIf="authservice.isAdmin()" >Cancel Order</button>
          <button mat-raised-button color="basic" (click) = 'displayOrder()'>Display Order</button>
        </div>
      </mat-card-content>
    </mat-card>
    