<div class="login-container">
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div class="input-group">
      <input
        type="text"
        formControlName="username"
        placeholder="Enter username"
      />
    </div>
    <div class="input-group">
      <input
        [type]="hidePassword ? 'password' : 'text'"
        formControlName="password"
        placeholder="Password"
      />
      <fa-icon
        [icon]="hidePassword ? faEye : faEyeSlash"
        class="password-icon"
        (click)="togglePasswordVisibility()"
      ></fa-icon>
    </div>
    <div *ngIf="loginError" class="login-error">{{ loginError }}</div>
    <button type="submit" class="login-button">Log in</button>
  </form>
</div>
