<!-- truck-edit.component.html -->
<div class="truck-edit-container">
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Enter Truck ID</mat-label>
        <input matInput placeholder="Truck ID" [(ngModel)]="truckId">
      </mat-form-field>
    </div>
  
    <div class="form-group">
      <mat-form-field appearance="fill">
        <mat-label>Enter Area ID</mat-label>
        <input matInput placeholder="Area ID" [(ngModel)]="areaId">
      </mat-form-field>
    </div>
  
    <div class="actions-container">
      <button mat-raised-button color="warn" class="action-button" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" class="action-button" (click)="confirm()">Confirm</button>
    </div>
  </div>
  