<div fxLayout="row" fxLayoutAlign="space-between center" >
    <mat-form-field class="top_component" appearance="outline" fxFlex="100%">
        <p>Create New Area</p>
    </mat-form-field>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center">
    
    <mat-form-field appearance="outline" fxFlex="100%">
        <input matInput placeholder="Enter Area ID" fxFlex="100%">
    </mat-form-field>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field appearance="outline" fxFlex="100%">
        <input matInput placeholder="Enter Area name" fxFlex="100%">
    </mat-form-field>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field appearance="outline" fxFlex="100%">
        <input matInput placeholder="??" fxFlex="100%">
    </mat-form-field>
</div>
<div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field appearance="outline" fxFlex="100%">
        <input matInput placeholder="??" fxFlex="100%">
    </mat-form-field>
</div>


