<mat-card class="edit-card">
  <form class="edit-form">
    <mat-form-field appearance="fill">
      <mat-label>Location ID</mat-label>
      <input matInput placeholder="Enter new Location ID" [(ngModel)]="editingLocation.locationId" 
      name="locationId" [disabled]="isEditing" [value]="editingLocation.locationId">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Area ID</mat-label>
      <input matInput placeholder="Enter new Area ID" [(ngModel)]="editingLocation.areaId" name="areaId">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Type</mat-label>
      <mat-select [(value)]="editingLocation.locationType" name="locationType">
        <mat-option value="Machine">Machine</mat-option>
        <mat-option value="Storage">Storage</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="buttons-container">
      <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" (click)="confirm()">Confirm</button>
    </div>
  </form>
</mat-card>
