<div class="order-list">
      <mat-card *ngFor="let order of orders | sortByStatus" [ngClass]="{
        'pending-order': order.orderStatus === 'Pending',
        'partially-delivered-order': order.orderStatus === 'PartiallyDelivered',
        'delivered-order': order.orderStatus === 'Delivered',
        'cancelled-order': order.orderStatus === 'Cancelled'
      }" class="example-card">
        <mat-card-content><strong>Order ID:</strong> {{ order.orderId }}</mat-card-content>
        <mat-card-content><strong>User ID:</strong> {{ order.userID }}</mat-card-content>
        <mat-card-content><strong>Status:</strong> {{ order.orderStatus }}</mat-card-content>
        <mat-card-content><strong>To Location ID:</strong> {{ order.toLocId }}</mat-card-content>
        <mat-card-content><strong>From Location ID:</strong> {{ order.fromLocId }}</mat-card-content>
        <mat-card-content><strong>Pieces:</strong> {{ order.pieces }}</mat-card-content>
        <mat-card-content><strong>Delivered Pieces:</strong> {{ order.deliveredPieces }}</mat-card-content>
        <mat-card-content><strong>Type:</strong> {{ order.orderType }}</mat-card-content>
        <mat-card-content><strong>Created At:</strong> {{ order.createdAt | date:'medium' }}</mat-card-content>
        <mat-card-content><strong>Completed At:</strong> {{ order.completedAt | date:'medium' }}</mat-card-content>
      </mat-card>
    </div>
    <div class="button-container">
      <button mat-raised-button color="primary" class="fixed-bottom-button1" (click)="return()">Return</button>
      <button mat-raised-button color="primary" class="fixed-bottom-button2" (click)="next()">Next</button>
      </div>
    