<mat-card class="edit-card">
    <form class="edit-form">
      <mat-form-field appearance="fill">
        <mat-label>Truck ID</mat-label>
        <input matInput placeholder="Enter new Truck ID" [(ngModel)]="truck.truckId"
        name="truckId">
      </mat-form-field>
  
     <!--  <mat-form-field appearance="fill">
        <mat-label>Location ID</mat-label>
        <input matInput placeholder="Enter new Location ID" [(ngModel)]="location.id" name="name">
      </mat-form-field> -->
      <div class="buttons-container">
        <button mat-raised-button color="primary" (click)="confirm()">Create</button>
        <button mat-raised-button color="primary" (click)="updateTruck()">Update</button>
      </div>
    </form>
  </mat-card>